<div class="col-md-6">
  <select (change)="onChangeCal($event.target.value)" class="form-control filter">
    <option value="high">High calorie foods (above 500 calories)</option>
    <option value="low">Low calorie foods (below 500 calories)</option>
    <option value="all" selected="selected">Show high and low calorie foods</option>
  </select>
</div>

<div>
  <edit-food-details *ngIf="selectedFood" [food]="selectedFood">
  </edit-food-details>
</div>
<div>
  <new-food (onSubmitNewFood)="createFood($event)"></new-food>
</div>
